header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
.moving-background {
    background-color: #182E3B;
}
header .container {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 75px;
}
header .container::after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    left: 15px;
    bottom: 0;
    background-color: #a2a2a2;
}
header .logo img {
    height: 40px;
}
header nav {
    flex: 1; /* To take the rest of the area right to the logo */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .fa-bars, header nav .fa-xmark {
    width: "fit-content";
}
header nav .toggle-menu {
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}
header nav ul {
    display: flex;
    text-transform: uppercase;
}
header nav ul li a {
    display: block;
    padding: 30px 20px;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 1;
    font-size: 0.8rem;
    transition-duration: var(--main-duration, 0.3s);
}
header nav ul li a:hover,
header nav ul li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color, #19c8fa);
}
header nav .form {
    width: 40px;
    height: 25px;
    border-left: 2px solid white;
    margin-left: 50px;
    position: relative;
}
header nav .form .search {
    color: white;
    font-size: 1.1rem;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

/* Start Media Query */
/* Phone & iPad Screens */
@media (max-width:767px) {
    header nav ul {
        display: none;
    }
    header nav ul.open-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 70%);
    }
    header nav ul li a {
        padding: 20px;
    }    
    header nav .form {
        margin-left: 30px;
    }
}
/* For Small, Medium, and Large Screens */
@media (min-width:768px) {
    header nav .toggle-menu {
        display: none;
    }   
}
/* Small Screens */
@media (min-width:768px) and (max-width:991px) {    
    header nav ul li a {
        padding: 30px 10px;
    }
    header nav .form {
        margin-left: 40px;
    }
}