.quote {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    background-image: url('../assets/images/quote.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
}
.quote::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 75%);
}
.quote .container {
    position: relative;
}
.quote q {
    display: block;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.quote q::before {
    content: open-quote;
    margin-right: 5px;
}
.quote q::after {
    content: close-quote;
    margin-left: 5px;
}
